html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.formHead-0-2-2 {
  width: auto !important;
  background-color: var(--bs-light) !important;
}

.formBuilder-0-2-1 .alert {
  width: auto !important;
}

.formBody-0-2-3 .card-container {
  width: auto !important;
}

.formBody-0-2-1 .card-container {
  width: auto !important;
}

.formBody-0-2-3 .card-container {
  border: 1px solid gray !important;
}

.formBody-0-2-3 .card-dependent {
  border: 1px dashed gray !important;
}

.formHead-0-2-2 div {
  width: 100% !important;
}